@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Lobster&family=Poppins:wght@800&display=swap');

.product-details-container
{
    margin-top: 40px;
}
.product-details-feature-img
{
    display:flex;
    flex-direction: column;
   
}
.product-details-features-brand-name span
{
    color:#C46D36;
}
.product-details-feature-img-category
{
    width:50px;
}
.product-details-features-mrp
{   display: flex;
    flex-direction: column;
    font-size: medium;
}
.product-details-features-mrp span
{
   text-decoration: line-through;
}
.product-details-features-discount
{
    color:red;
    display: flex;
    flex-direction: column;
}
.product-details-features-discount h4
{
  color:black;
}

.product-details-features-buttons
{
    display:flex;
    gap:40px;
}
.product-details-features-brand-name
{
    border-bottom: 1px solid black;
    padding: 10px;
}
.product-details-features-delivery-details
{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding:15px;
    margin: 10px 10px;
}
.product-details-features-buttons-addtocart
{
    width:100%;
    height:100%;
    padding:10px;
    border-radius: 5px;
    border: none;
    background-color: #C46D36;
    color:white;
    
}
.product-details-features-buttons-addtocart:hover
{
    width:100%;
    height:100%;
    padding:10px;
    border-radius: 5px;
    border:1px solid black;
    background-color: #C46D36;
    color:white;
    
    
}  

.product-details-features-buttons-buynow
{
    width:100%;
    height:100%;
    padding:10px;
    border-radius: 5px;
    border:none;
    background-color: #212529;
    color: white;
   
}
.product-details-features-buttons-buynow:hover
{
    width:100%;
    height:100%;
    padding:10px;
    border-radius: 5px;
    border:1px solid white;
    background-color: #212529;
    color: white;
    
}